@tailwind base;
@tailwind components;
@tailwind utilities;



body{
    background-color: rgb(223, 226, 228);
}

.truncate-text {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }






